# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Api.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MichalPC\Projekty\monolith\Api\.idea\.idea.Api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
